
**/*.aux
**/build/
**/debug/
**/*.env
**/measurements/*
/env
**/*.fdb_latexmk
**/*.fls
**/*.log
**/_minted*
**/*.nav
**/*.out
**/*.o
**/img/*.pdf
**/tex/*.pdf
**/tex/*.txt
**/*.pdfpc
**/__pycache__
**/.qmake.stash
**/release/
**/Session.vim
Session.vim
**/*.snm
**/*.synctex.gz
**/*.toc
**/*.vrb
**/.vscode
exercises/04/outputs/dim5values.txt
exercises/04/outputs/out_sbatch.txt
exercises/04/outputs/out_unoptimised_sbatch.txt
example_proj_cmake
